.post {
  font-family: 'VT323', monospace;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  border: 1px solid black;
  border-width: 1px;
  padding-left: 15px;
}

.toprow {
  display: flex;
  flex-direction: row;
  font-family: 'VT323', monospace;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center bottom;
  background-attachment: fixed;
  border-radius: 20px;
  margin-right: 10px;
}


p {
  margin: 4px 0px;
}

h4 {
  margin: 0px;
}

h3 {
  margin: 5px;
  margin-left: 0px;

}